*{
    margin: 0;
    padding: 0;
}

.no-radius{
    border-radius: 0%;
}

.more-padding-top{
    padding-top: 50px;
}

.bg-blue{
    background: #000324;
}

.square-border{
    border: 2px solid white;
    border-radius: 0%;
}




.head-img{
    background-image: url(/assets/header.jpg);
    background-repeat: no-repeat;
    background-position: 100% 56%;
    background-size: 100%;
    height: 500px;
}

.logo{
    /* font-family: ; */
    color: #E5FEFF;
    background-color: #000324cc;
    width: 80%;
}      

.ham-home-img{
    width: 100%;    
}

.award-img{
    width: 100%;
}


.mid-img{
    background-image: url(/assets/bg2.jpg);
    background-repeat: no-repeat;
    background-position: 100% 56%;
    background-size: 100%;
    height: 600px;
}

.card-height{
    height: 450px;
}

.card-imgs{
    height: 150px;
}

.card-heading-text{
    color: white;
}

ul{
    font-size: small;
}

.btn-color{
    background-color: #004cc7;
}


.ham-img-height{
    height: 260px;
}

.text-mid-blue{
    color: #1F51A8;
}


.text-color-blue{
    color: #E5FEFF;
    /* font-family: ; */
}
