:root{
    --bgd-blue: #000324;
    --btn-dark-blue: #004cc7;
    --mid-blue: #1F51A8;
    --btn-light-blue: #006EDB;
    --light-blue: #E5FEFF;
    --light: #ffff;
}


@font-face{
    font-family: 'Dosis';
    src: url(../assets/fonts/Dosis-Regular.ttf);
}

@font-face{
    font-family: 'Sourse Sans Pro';
    src: url(../assets/fonts/SourceSans3-Regular.ttf);
}

.d-font{
    font-family: 'Dosis', sans-serif;
}

.ss-font{
    font-family: 'Sourse Sans Pro', sans-serif;
}

.img-width{
    width: 100%;
}

.no-radius{
    border-radius: 0%;
}

.no-boarder{
    border: none;
}

.margin-top{
    margin-top: 48px;
}
.margin-bottom{
    margin-bottom: 48px;
}

.more-padding-top{
    padding-top: 50px;
}

.bg-blue{
    background: var(--bgd-blue);
}

.square-border{
    border: 2px solid var(--light);
    border-radius: 0%;
}

.card-heading-text{
    color: var(--light);
}

.text-color-blue{
    color: var(--light-blue);
}

.btn-color{
    background-color: var(--btn-dark-blue);
}

.ava-btn-color{
    background-color: var(--btn-light-blue);
}

.display-yes-no{
    display: contents;
}

.display-no-yes{
    display: none;
}


/* First */
.head-img{
    background-image: url(/assets/header.jpg);
    background-repeat: no-repeat;
    background-position: 100% 56%;
    background-size: 100%;
    height: 500px;
}

.logo{
    color: var(--light-blue);
    background-color: #000324cc;
    width: 80%;
}      
/* first */

/* Room Cards */
.mid-img{
    background-image: url(/assets/bg2.jpg);
    background-repeat: no-repeat;
    background-position: 100% 56%;
    background-size: 100%;
    height: 600px;
}

.card-height{
    height: 460px;
}

.card-imgs{
    height: 150px;
}

ul{
    font-size: small;
}

.ham-img-height{
    height: 260px;
}
/* room cards */

/* Packages */
.text-mid-blue{
    color: var(--mid-blue);
}

.more-margin-top{
    margin-top: 52px;
}
/* packeges */

/* Amenities */
.end-img{
    background-image: url(/assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: 100% 56%;
    background-size: 100%;
    height: 450px;
}

.valet-img{
    height: 110px;
}
/* amenities */

/* Reserve Rooms */
.reserve-width{
    width: 100%;
}

.reserve-img{
    background-position: 100% 56%;
    background-size: 100%;
    height: 400px;
}
/* reserve rooms */


@media screen and (max-width: 1000px){

    .display-yes-no{
        display: none;
    }

    .display-no-yes{
        display: contents;
    }


    /* Header */
    .margin-top{
        margin-top: 00px;
    }

    .bg-blue:hover{
        background-color: var(--bgd-blue);
    }
    /* header */

    
    /* First */
    .head-img{
        background-image: url(/assets/header.jpg);
        background-repeat: no-repeat;
        background-position: 100% 56%;
        background-size: cover;
        height: fit-content;
        
    }
    /* first */

    /* Room Cards */
    .mid-img{
        background-image: url(/assets/bg2.jpg);
        background-color: var(--bgd-blue);
        background-repeat: no-repeat;
        background-position: 100% 56%;
        background-size: cover;
        height: fit-content;
    }
    /* room cards */

    /* Amenities */
    .end-img{
        background-image: url(/assets/bg.jpg);
        background-color: var(--bgd-blue);
        background-repeat: no-repeat;
        background-position: 100% 56%;
        background-size: cover;
        height: fit-content;
    }
    /* amenities */
}